.ul_custom {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
li.list-group-item {
    margin: 12px;
}

.li_button_check{
    font-weight: bold;
    background: none;
    padding: 0 4px;
    border: none;
}
.chk_green{
    color: green;
}
.chk_red{
    color: red;
}